Implementation of uuid.uuid5 is not correct to RFC 4122


# Bug report

uuid.uuid5 is not implemented correctly according to RFC 4122.  The current implementation does a SHA-1 hash of a constant '6ba7b810-9dad-11d1-80b4-00c04fd430c8' and the DNS name string.  This results in the identical UUID being generated every time.  This is incorrect.  The version 5 UUID is supposed to hash the current time with the DNS string.  Thus resulting with a new and unique UUID EVERY time is called with the same DNS string, hence Unique. the second U in UUID.

Read the spec:
https://www.rfc-editor.org/rfc/rfc4122

# Your environment

python 3.8 all environments:

>>> import uuid
>>> uuid.uuid5(uuid.NAMESPACE_DNS, "example.com")
UUID('cfbff0d1-9375-5685-968c-48ce8b15ae17')
>>> uuid.uuid5(uuid.NAMESPACE_DNS, "example.com")
UUID('cfbff0d1-9375-5685-968c-48ce8b15ae17')



In uuid5 (and uuid3, for that matter), the "timestamp" has nothing at all to do with the clock, but is actually calculated from the given DNS name.  See RFC-4122 [section 4.1.4](https://www.rfc-editor.org/rfc/rfc4122#section-4.1.4).  This allows one to generate the same UUID (which is universally unique, but tied to the given domain) in various systems:

```bash
$ python3 -c 'import uuid;print(uuid.uuid5(uuid.NAMESPACE_DNS, "example.com"))'
cfbff0d1-9375-5685-968c-48ce8b15ae17
$ uuidgen --sha1 --namespace @dns --name "example.com"
cfbff0d1-9375-5685-968c-48ce8b15ae17
```

 I am sorry, for my misread of this.  I have to say that I do not understand the need for a constant UUID for a given DNS string.  It only provides obfuscation.
    On Tuesday, September 13, 2022, 5:39:30 PM UTC, Zachary Ware ***@***.***> wrote:  
 
 


In uuid5 (and uuid3, for that matter), the "timestamp" has nothing at all to do with the clock, but is actually calculated from the given DNS name. See RFC-4122 section 4.1.4. This allows one to generate the same UUID (which is universally unique, but tied to the given domain) in various systems:
$ python3 -c 'import uuid;print(uuid.uuid5(uuid.NAMESPACE_DNS, "example.com"))'
cfbff0d1-9375-5685-968c-48ce8b15ae17
$ uuidgen --sha1 --namespace @dns --name "example.com"
cfbff0d1-9375-5685-968c-48ce8b15ae17
—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>
  