```_splitnetloc``` in urllib split netloc wrongly if username or password contain special charcaters

# Bug report

### Bug description:

This next snippet can be found [here](https://github.com/python/cpython/blob/main/Lib/urllib/parse.py#L413).
```python
def _splitnetloc(url, start=0):
    delim = len(url)   # position of end of domain part of url, default is end
    for c in '/?#':    # look for delimiters; the order is NOT important
        wdelim = url.find(c, start)        # find first of this delim
        if wdelim >= 0:                    # if found
            delim = min(delim, wdelim)     # use earliest delim position
    return url[start:delim], url[delim:]   # return (domain, rest)
```

As the title says, if the username or password part in the url (http://user:pass@domain.com/path) contains any special character (/?#), the path/query/fragment is obtained wrongly, because the function looks only for the first instance. This of course won't work if the searched characters are present in the string before the "@" symbol.

Possible fix ready, will opening a pr soon

### CPython versions tested on:

CPython main branch

### Operating systems tested on:

Linux

<!-- gh-linked-prs -->
### Linked PRs
* gh-110872
<!-- /gh-linked-prs -->


Such characters should be percent-encoded. The current behavior is correct according to the URL standard. https://url.spec.whatwg.org/#userinfo-percent-encode-set defines the characters that must be percent encoded to be valid in the `user:pass@` portion of the string, and includes the special characters.

If you've received a URL with multiple `@` chars, etc, then it is invalid. If you generated such a string, then you need to update your code to percent-encode the correct character set for each segment.

I agree with @davidism.

According to RFC3986 (section 3.2), the authority component is preceded by `//` and is terminated by the next `/`, `?`, `#` or the end of the URI.
