ipaddress.py P2P broadcast networks

# Bug report

### Bug description:

# Issue Details

The ipaddress.py library does not fully handle Point-to-Point Links leading /31 "networks" causing it to give incorrect broadcast addresses.

Per [RFC 1812](https://datatracker.ietf.org/doc/html/rfc1812#section-4.2.3.1) (updated by [RFC 3021](https://datatracker.ietf.org/doc/html/rfc3021)),  "treat IP broadcasts packets addressed to 255.255.255.255 or { <Network-prefix>, -1 }... [which] corresponds to one of the endpoints of such link."

```python
import ipaddress
from ipaddress import *
ip = IPv4Network('10.0.0.0/31')
ip.broadcast_address
# IPv4Address('10.0.0.1')
```
In the above example it technically correct, it is only correct for the 10.0.0.0/31 link, not the entire "network" or rather the opposite link 10.0.0.1/31.

# Suggested Fix

The easiest fix for this would be to detect a /31 "network" and default to giving `255.255.255.255` as the broadcast address which seems to be the implementation used in OS network tools like ifconfig and ip.

### CPython versions tested on:

3.8, 3.12

### Operating systems tested on:

Linux, Windows

Hello,

I would like to complete your request because in fact, there is no network and broadcast address that belongs to a `/31` prefix.

Actual results : 

```python
>>> from ipaddress import IPv4Network
>>> net = IPv4Network('10.0.0.0/31')
>>> network.network_address
IPv4Address('10.0.0.0')
>>> network.broadcast_address
IPv4Address('10.0.0.1')
>>> list(net.hosts())
[IPv4Address('10.0.0.0'), IPv4Address('10.0.0.1')]
```

The `network_address` and `broadcast_address` properties must not exists in a `/31` scenario. See [RFC3021 section 2.1](https://datatracker.ietf.org/doc/html/rfc3021#section-2.1)

> {\<Network-number>, 0} and {\<Network-number>, -1}
   These addresses have historically been associated with network and
   broadcast addresses (see [Section 2.2](https://datatracker.ietf.org/doc/html/rfc3021#section-2.2)).  In a point-to-point link with
   a 31-bit subnet mask, the two addresses above MUST be interpreted as
   host addresses.

Section [4.2.3.1](https://datatracker.ietf.org/doc/html/rfc3021#section-4.2.3.1) complete the above statement : 

**First Address of /31 subnet**
>    In a point-to-point link with a 31-bit mask, a packet addressed to
      { <Network-prefix>, 0 } corresponds to one of the endpoints of
      such link, it MUST be treated as directed to the router on which
      the address is applied.

**Last Address of /31 subnet**
>    In a point-to-point link with a 31-bit mask, a packet addressed to
      { <Network-prefix>, -1 } corresponds to one of the endpoints of
      such link, it MUST be treated as directed to the router on which
      the address is applied.

The `255.255.255.255` address is the limited broadcast address. It do not belongs to any prefixes.

Suggested correction in /31 scenario

Property `network_address` -> Return `None`
Property `broadcast_address` -> return `None`

Regards,

Ben


It's correct that the limited broadcasts do not belong to any prefixes however,  /31 must always use the limited broadcast per [RFC3021 section 2.2](https://datatracker.ietf.org/doc/html/rfc3021#section-2.2).

>   Using a 31-bit prefix length leaves only two numbering possibilities
>   (see Section 2.1), eliminating the use of a directed broadcast to the
>   link (see Section 2.2.1).  The limited broadcast MUST be used for all
>   broadcast traffic on a point-to-point link with a 31-bit subnet mask
>   assigned to it.

Regarding `network_address`, /31's are still networks as shown in [RFC 1878](https://datatracker.ietf.org/doc/html/rfc1878)'s table. When declared as a "network" it becomes a network with no addresses left for hosts, not a network with no network or broadcast address .

Along with both of these, reading the [ipaddress documentation](https://docs.python.org/3/library/ipaddress.html) shows the intent of these Network objects.

> network_address
> The network address for the network. The network address and the prefix length together uniquely define a network.
>
> broadcast_address
> The broadcast address for the network. Packets sent to the broadcast address should be received by every host on the network.

Changes to suggested correction in /31 scenario

Property network_address -> Do not change
Property `broadcast_address` -> return `255.255.255.255`

---

@Kaauw your suggested correction is correct from a P2P link, but I think the above output would be much more useful to users overall than outputting `None` as it balances the network addressing expectations with the P2P link expectations. Also, it allows all outputs to remain address sequences (numbers with periods) which will avoid breaking things that use this library expecting a particular format.