email.parser.Parser dropping headers into payload if space between header name and colon

In some cases, I have seen the standard library email message parser (invoked via email.parser.BytesParser) losing headers, in cases where a message has a header line where a space appears between the header name and the delimiting colon following.

Sample which reproduces this:

```
Subject: test-ignore
To: someone@somedomain.com
x-fred :dead
Date: Fri, 20 May 2022 18:13:19 +1200
From: sender@somedomain.com

Hello, this is a test message
```
When this is parsed in email.parser.BytesParser, the resulting EmailMessage object has these headers, as dumped by calling `.items()`:
```
[('Subject', 'test-ignore'),
 ('To', ': someone@somedomain.com;')
]
```
Meanwhile, the dropped headers end up in the message payload, as seen from calling `.get_payload()`:
```
x-fred :dead
Date: Fri, 20 May 2022 18:13:19 +1200
From: sender@somedomain.com

Hello, this is a test message
```
This failure to gracefully cope with a non-compliant header puts Python3's standard library email parser in breach of RFC5322, Section 4.5: _...any amount of white space is allowed [in the header] before the ":" at the end of the [header] field name..._

To cope with email.parser.Parser's failure to cope with this archaic header format, I've had to implement a crude workaround of detecting if any expected headers are absent in the resulting email.message.EmailMessage object, and if so, manually 'massaging' the headers part of the raw message, then re-submitting it to the Parser.

However, I'd suggest this really does need to be fixed within Python's standard library module.


<!-- gh-linked-prs -->
### Linked PRs
* gh-93176
<!-- /gh-linked-prs -->


Relevant sections from the RFC

>[4](https://datatracker.ietf.org/doc/html/rfc5322#section-4).  Obsolete Syntax
>
>   Earlier versions of this specification allowed for different (usually
>   more liberal) syntax than is allowed in this version.  Also, there
>   have been syntactic elements used in messages on the Internet whose
>   interpretations have never been documented.  Though these syntactic
>   forms MUST NOT be generated according to the grammar in [section 3](https://datatracker.ietf.org/doc/html/rfc5322#section-3),
>   they MUST be accepted and parsed by a conformant receiver.  This
>   section documents many of these syntactic elements.  Taking the
>   grammar in [section 3](https://datatracker.ietf.org/doc/html/rfc5322#section-3) and adding the definitions presented in this
>   section will result in the grammar to use for the interpretation of
>   messages.
>Note: This section identifies syntactic forms that any
>      implementation MUST reasonably interpret.  However, there are
>      certainly Internet messages that do not conform to even the
>      additional syntax given in this section.  The fact that a
>      particular form does not appear in any section of this document is
>      not justification for computer programs to crash or for malformed
>      data to be irretrievably lost by any implementation.  It is up to
>      the implementation to deal with messages robustly.

I'll see if I can update the parser and add some tests for this