Improve on documentation for http module

# Improve on documentation for http module

(A clear and concise description of your proposal.)

When I read the documentation for the htttp `__init__.py`. There is a long list of rfc codes that don't seem relevant to the http class itself. Please remove this from the file or at least add some context to the RFC codes.

I want to understand how the http library works behind the scenes and the documentation doesn't help


<!--
  New features to Python should first be discussed elsewhere before creating issues on GitHub,
  for example in the "ideas" category (https://discuss.python.org/c/ideas/6) of discuss.python.org,
  or the python-ideas mailing list (https://mail.python.org/mailman3/lists/python-ideas.python.org/).
  Use this space to post links to the places where you have already discussed this feature proposal:
-->
* RFC 7231: Hypertext Transfer Protocol (HTTP/1.1), obsoletes 2616
        * RFC 6585: Additional HTTP Status Codes
        * RFC 3229: Delta encoding in HTTP
        * RFC 4918: HTTP Extensions for WebDAV, obsoletes 2518
        * RFC 5842: Binding Extensions to WebDAV
        * RFC 7238: Permanent Redirect
        * RFC 2295: Transparent Content Negotiation in HTTP
        * RFC 2774: An HTTP Extension Framework
        * RFC 7725: An HTTP Status Code to Report Legal Obstacles
        * RFC 7540: Hypertext Transfer Protocol Version 2 (HTTP/2)
        * RFC 2324: Hyper Text Coffee Pot Control Protocol (HTCPCP/1.0)
        * RFC 8297: An HTTP Status Code for Indicating Hints
        * RFC 8470: Using Early Data in HTTP

<!--
You can freely edit this text. Remove any lines you believe are unnecessary.
-->


Do you mean this list?

https://github.com/python/cpython/blob/3b4f8fc83dcea1a9d0bc5bd33592e5a3da41fa71/Lib/http/__init__.py#L8-L24

The context is given, they're the RFC specs from which HTTP status codes have been implemented. 

We can see a similar list in the docs, which also lists the status codes: for each RFC:

https://docs.python.org/3/library/http.html#http-status-codes


Thanks for the explanation!