This is [causing problems in Poetry](https://github.com/python-poetry/poetry/issues/6499#issuecomment-1564712609).

@rmorshea - oh no. This is such a old bug report. Would you explain if it is poetry problem or urlparse?

> It just so happens that ssh is not in uses_relative. As a result, the following unexpected behavior arises:

Moving protocols to say different parsing behavior will break libraries and systems which are relying on the current behavior.

I'm not really sure what the right thing to do here is. With that said, I don't fully understand why `svn+ssh` is in the list, but not `ssh` and/or `git+ssh` - using relative URLs in `.gitmodules` to describe Git submodules is relatively common.

Thankfully it's possible to work around this issue:

```python
def urljoinpath(base: str, path: str) -> str:
    parsed_base = urlparse(base)
    new = parsed_base._replace(path=urljoin(parsed_base.path, path))
    return urlunparse(new)
```

But it's odd that this is necessary. Perhaps, the function above would be a useful addition to `urllib` or perhaps `urljoin` needs a new parameter to allow for this behavior.


> ```python
> def urljoinpath(base: str, path: str) -> str:
>     parsed_base = urlparse(base)
>     new = parsed_base._replace(path=urljoin(parsed_base.path, path))
>     return urlunparse(new)
> ```

What about something like

```
def SmartURLJoin(base: str, url: str) -> str:
  base_pr = urlparse(base)
  bscheme = base_pr.scheme

  url_pr = urlparse(url)
  scheme = url_pr.scheme or bscheme
  if bscheme != scheme:
    return url

  base_pr = base_pr._replace(scheme='http')
  url_pr = url_pr._replace(scheme='http')

  joined = urljoin(urlunparse(base_pr), urlunparse(url_pr))
  joined_pr = urlparse(joined)
  joined_pr = joined_pr._replace(scheme=scheme)
  return urlunparse(joined_pr)
```

This seems slightly more in line with urljoin(), because it works with more than paths as the second argument. 

I would've expected `urljoin` to simply apply the algorithm defined in [RFC 3986 section 5.2](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2). That algorithm doesn't require any knowledge about whether a specific scheme is "hierarchical" or not.

* `urljoin('mailto:foo@', 'bar.com')` becomes `mailto:bar.com`, because the base URL does not define an authority (called "netloc" in `urllib.parse`) part, because there's no `//` after the colon. The result does not point to a valid email address, but that's to be expected, because the second argument isn't a valid email address.
* Also note that `mailto:` URLs are not hierarchical with regard to URL parsing: They have two components, a scheme of `mailto` and a path of `whatever@example.com`. `urljoin("mailto:foo@", "bar.com")`, assuming that `urljoin` is to be _generic_, should be interpreted as "keep the `mailto` scheme, and join the paths `foo@` and `bar.com`". And since `@` has no special meaning _in a generic parser_, merging the paths is simply "remove the last component from the base" and "add the path in the relative URL". (See also [section 5.2.3](https://datatracker.ietf.org/doc/html/rfc3986#section-5.2.3).)
* `urljoin('mailto:person-foo/bar@example.net', 'bar.com')` should become `mailto:person-foo/bar.com` _in a generic parser_. Because slashes have special meanings in URLs: They delimit path components. `@` characters only have a special meaning in the authority part of the URL, but `mailto` URLs don't have that. Therefore, the path components in the base URL are `person-foo` and `bar@example.net`. It is not an URL parser's job to understand email addresses.
* While slashes are allowed in email address local-parts, they have special meaning in URL paths and would need to be escaped in that `mailto:` URL.
* `urljoin('wais://foo@bar.com/mydb/type/path', '/newpath')` should result in `wais://foo@bar.com/newpath`. While I understand that this is probably not the intended outcome given the semantics of the paths in WAIS URLs, it is not a generic parser's job to deal with that. If you want to join different `<wpath>`s to a WAIS URL, but keep the first two path components (`<database>` and `<wtype>`) intact, either use a protocol-specific join implementation, or a relative path in the second argument.

As someone who just read RFC 3986 and attempted to use `urljoin` on his custom, RFC-compliant URL scheme, I was "surprised" (to say the least) of Python's decision to come with magic lists of protocols where `urljoin` might work correctly and others where it might not, and these lists might probably change between releases. Right now, `urllib.parse` is not RFC compliant, even though it claims to be.

I think someone needs to make the call if it is okay to break the current behaviour of joining to e.g. “mailto:” and “ssh:” URLs in order to make _urljoin_ the same for any scheme. This is my preferred solution, implemented in _urljoin-scheme.patch_.

If not okay, the next best option is adding a new _non_relative_ blacklist, which seemed to gather a bit of support. Like _urljoin-non-hier.patch_, but without editing the existing _non_hierarchical_ list.

I am happy if someone wants to use my patches and bring them up to date with current Python, but I’m unlikely to spend the time myself.
