Clarify that "url" parameter to HTTPConnection.request(method, url) is usually an absolute path

# Documentation

The current documentation for [HTTPConnection.request(method, url)](https://docs.python.org/3/library/http.client.html) looks like:

---

<img width="860" alt="Screen Shot 2023-02-28 at 8 56 01 AM" src="https://user-images.githubusercontent.com/764688/221875289-e99ac2ff-8b2d-4181-a79a-fa4a802cd2a4.png">

---

No description of the "url" parameter is provided besides its name. One might easily assume (as I did originally) that an absolute URL such as `https://xkcd.com` was expected here.

However if you look at how the request() method is implemented, you'll notice that it creates an HTTP request line using the `method` and `url` parameters verbatim:

* For example: `HTTPConnection.request("GET", "/")` will create an HTTP request beginning with `GET / HTTP/1.1`.
* And `HTTPConnection.request("GET", "https://xkcd.com")` will create an HTTP request beginning with `GET https://xkcd.com HTTP/1.1`.

According to [RFC 2616 §5.1.2](https://www.rfc-editor.org/rfc/rfc2616#section-5.1.2), (1) the "url" in the above examples must be an absolute path (like `/`) and (2) the "Host" header must be provided.

I recently discovered that a website downloader program of mine was [generating improper HTTP requests that were confusing WordPress sites](https://github.com/davidfstr/Crystal-Web-Archiver/commit/dd3981c73ba831cc6ca32f018b871bc33aac1748) because I was incorrectly passing an absolute URL as the "url" parameter to request() rather than passing an absolute path.

**I think it would be worth extending the documentation to explain the above constraints on the "url" parameter (and the requirement of the "Host" header), so that it is easier to use the request() method correctly to generate a well-formed HTTP request.** 

I already have a PR proposing specific changes, which I will post shortly.

<!-- gh-linked-prs -->
### Linked PRs
* gh-102328
* gh-104339
<!-- /gh-linked-prs -->


Hello, is there a reviewer with expertise in the `http.client` documentation that is available to review the [PR] associated with this issue?

(I am posting this ping >1 month after no activity, as [recommended by the dev guide].)

[PR]: https://github.com/python/cpython/pull/102328
[recommended by the dev guide]: https://devguide.python.org/getting-started/pull-request-lifecycle/index.html#reviewing

Thanks for the PR. I've merged it and it will be backported to 3.11.