Align `.py[co]` IANA Media Types with RFC 6838.

# Documentation

The current (unregistered) IANA Media Type types for Python (`text\/x-python.*`):

1. > https://github.com/python/cpython/blob/49d72365cd2d6c09a154a9a061efef4130e2c758/Misc/NEWS.d/3.10.0a1.rst?plain=1#L3030

   [^3]

1. > https://github.com/python/cpython/blob/49d72365cd2d6c09a154a9a061efef4130e2c758/Tools/msi/launcher/launcher_reg.wxs#L9

   [^4]

1. > https://github.com/python/cpython/blob/49d72365cd2d6c09a154a9a061efef4130e2c758/Lib/mimetypes.py#L540-L541

   [^5]

...appear to be incorrect, per current guidance, for RFC 6838 states that the `x-` prefix has been deprecated in favour of the `x.` tree: [^6] 

> The unregistered tree includes media types intended exclusively for use in private environments and only with the active agreement of the parties exchanging them. It uses the x. tree prefix. Examples are application/x.foo, video/x.bar. Media types in this tree cannot be registered.
> 
> This type was originally defined in RFC 1590 (published in September 1993) using the x- or X- prefix. RFC 2048 (published in November 1996) introduced the x. prefix, but discouraged use of the unregistered tree, as new personal and vendor trees with relaxed registration requirements are now available. The current RFC 6838 (published in January 2013) maintains the same recommendation, but subtypes prefixed with x- or X- are no longer considered to be members of this tree.
> 
> Media types that have been widely deployed (with a subtype prefixed with x- or X-) without being registered, should be, if possible, re-registered with a proper prefixed subtype.

[^6]: [`en.wikipedia.org/w/index.php?title=Media_type&oldid=1292890008#Unregistered_tree`](https://en.wikipedia.org/w/index.php?title=Media_type&oldid=1292890008#Unregistered_tree:~:text=This%20type%20was%20originally%20defined,be%20members%20of%20this%20tree.) [^2]

[^2]: [`serialseb.github.com/issues/24#issue-3136552984`](https://github.com/serialseb/serialseb.github.com/issues/24#issue-3136552984:~:text=it%20states%20that%20x%2D%20has%20been%20deprecated%20in%20favour%20of%20x.)

[^3]: [`49d72365cd2d6c09a154a9a061efef4130e2c758/Misc/NEWS.d/3.10.0a1.rst?plain=1#L3030C1-L3030C44`](https://github.com/python/cpython/blob/49d72365cd2d6c09a154a9a061efef4130e2c758/Misc/NEWS.d/3.10.0a1.rst?plain=1#L3030C1-L3030C44:~:text=%60%60text/x%2Dpython%60%60%20instead%20of%20%60%60text/plain%60%60)

[^4]: [`49d72365cd2d6c09a154a9a061efef4130e2c758/Tools/msi/launcher/launcher_reg.wxs#L9C32-L9C67`](https://github.com/python/cpython/blob/49d72365cd2d6c09a154a9a061efef4130e2c758/Tools/msi/launcher/launcher_reg.wxs#L9C32-L9C67:~:text=%3CExtension-,Id=%22py%22%20ContentType=%22text/x%2Dpython%22,-%3E)

[^5]: [`49d72365cd2d6c09a154a9a061efef4130e2c758/Lib/mimetypes.py#L540C9-L541C48`](https://github.com/python/cpython/blob/49d72365cd2d6c09a154a9a061efef4130e2c758/Lib/mimetypes.py#L540C9-L541C48:~:text='.pyc'%20%20%20%20:%20'application/x%2Dpython%2Dcode'%2C,'.pyo'%20%20%20%20:%20'application/x%2Dpython%2Dcode')

> https://github.com/python/cpython/issues/135387#event-18373486354

@picnixz, am I correct that your rationale for closure is https://github.com/python/cpython/issues/135387#issuecomment-2971025923?

@picnixz, by that (in retrospect, apparently affirmation) I meant to communicate that what you'd stated was sensical and well-thought. However, I still would *prefer* to see these in the correct tree. If you still would have closed it regardless, this doesn't matter, though.

Sorry for misunderstanding the reaction. Unfortunately, I'll reject this change because it could be more annoying for existing users. While it's not aligned with the RFC, it doesn't change the fact that this practice remains common (also, it could break programs that check for Python-like files without extensions). For instance, on my OS, `grep py /etc/mime.types` shows that Python (and its associated files) have `x-python` and `x-python-bytecode` but there is no entry with `x.` something (`grep -F '/x.' /etc/mime.types` is empty). 

Therefore, I still believe that changing this will break downstream projects (I'm also basing my argument on "Media types that have been widely deployed [...] should be, **if possible**, re-registered with a proper prefixed subtype."; in this case, it's not possible).