UnicodeEncode error in BaseHttpRequestHandler class when send unicode data.

BPO | [42527](https://bugs.python.org/issue42527)
--- | :---
Nosy | @vstinner, @ezio-melotti, @carlosgalvez-tiendeo
PRs | <li>python/cpython#27948</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
```python
assignee = None
closed_at = None
created_at = <Date 2020-12-01.16:40:04.618>
labels = ['type-bug', '3.8', '3.9', '3.10', '3.11', 'expert-unicode']
title = 'UnicodeEncode error in BaseHttpRequestHandler class when send unicode data.'
updated_at = <Date 2021-08-25.15:49:29.425>
user = 'https://bugs.python.org/wangyanfengp'
```

bugs.python.org fields:
```python
activity = <Date 2021-08-25.15:49:29.425>
actor = 'jcarlosgalvezm'
assignee = 'none'
closed = False
closed_date = None
closer = None
components = ['Unicode']
creation = <Date 2020-12-01.16:40:04.618>
creator = 'wangyanfeng.p'
dependencies = []
files = []
hgrepos = []
issue_num = 42527
keywords = ['patch']
message_count = 1.0
messages = ['382268']
nosy_count = 4.0
nosy_names = ['vstinner', 'ezio.melotti', 'wangyanfeng.p', 'jcarlosgalvezm']
pr_nums = ['27948']
priority = 'normal'
resolution = None
stage = 'patch review'
status = 'open'
superseder = None
type = 'behavior'
url = 'https://bugs.python.org/issue42527'
versions = ['Python 3.8', 'Python 3.9', 'Python 3.10', 'Python 3.11']
```

</p></details>


Please don't put emojis there :)

HTTP headers and the status message should use ASCII only. Python uses the Latin-1 encoding for backwards compatibility with earlier standards and to provide round-trip support for opaque data.

Per the current standard, [RFC 9110](https://datatracker.ietf.org/doc/html/rfc9110) [note added by me]:

> Field values are usually constrained to the range of US-ASCII characters [[USASCII](https://datatracker.ietf.org/doc/html/rfc9110#USASCII)]. Fields needing a greater range of characters can use an encoding, such as the one defined in [[RFC8187](https://datatracker.ietf.org/doc/html/rfc8187)] *[which encodes to ASCII]*. Historically, HTTP allowed field content with text in the ISO-8859-1 charset [[ISO-8859-1](https://datatracker.ietf.org/doc/html/rfc9110#ISO-8859-1)], supporting other charsets only through use of [[RFC2047](https://datatracker.ietf.org/doc/html/rfc2047)] encoding. Specifications for newly defined fields SHOULD limit their values to visible US-ASCII octets (VCHAR), SP, and HTAB. A recipient SHOULD treat other allowed octets in field content (i.e., [obs-text](https://datatracker.ietf.org/doc/html/rfc9110#fields.values)) as opaque data.

Earlier standards used similar language; you may want to search for `8859-1` in RFC 7230 or 2616.


Python is correct here. I'll close the issue and PR.
