`http` module does not handle MIME encoded-words in headers

<!--
  If you're new to Python and you're not sure whether what you're experiencing is a bug, the CPython issue tracker is not
  the right place to seek help. Consider the following options instead:

  - reading the Python tutorial: https://docs.python.org/3/tutorial/
  - posting in the "Users" category on discuss.python.org: https://discuss.python.org/c/users/7
  - emailing the Python-list mailing list: https://mail.python.org/mailman/listinfo/python-list
  - searching our issue tracker (https://github.com/python/cpython/issues) to see if
    your problem has already been reported
-->

# Bug report

When receiving HTTP headers in MIME encoded-word format (per RFC 2047), the `http` module does not decode the header's value out of encoded-word. For example:
```py
from http import client

conn = client.HTTPConnection("localhost", 8080)
conn.request("GET", "/")

# the server is configured to return the header X-Star: =?utf-8?b?4piF?=
# which should be the ★ character (U+2605) 
resp = conn.getresponse()
print(resp.getheader('X-Star'))  # prints "=?utf-8?b?4piF?=", not "★"
```

Additionally, when setting a header to a string containing a non-ISO-8859-1 character, a `UnicodeEncodeError` exception is thrown, however, this could be solved by just using MIME encoded-word. For example:
```py
from http import client

conn = client.HTTPConnection("localhost", 8080)
conn.request("GET", "/", headers={
    "X-Star": "★"
})
conn.close()  # UnicodeEncodeError: 'latin-1' codec can't encode character '\u2605' in position 0: ordinal not in range(256)
```

# Your environment

<!-- Include as many relevant details as possible about the environment you experienced the bug in -->

- CPython versions tested on: 3.11.3
- Operating system and architecture: macOS 11.7.4, x86_64

<!--
You can freely edit this text. Remove any lines you believe are unnecessary.
-->


<!-- gh-linked-prs -->
### Linked PRs
* gh-105531
* gh-105621
<!-- /gh-linked-prs -->


After the full test suite failed on my first PR for this issue (#105531), I looked into this a bit more. I think the change would be better as two PRs:
1. #105621 is the sending portion. This part should not have any breaking changes and should be relatively straightforward. It just handles the potential `UnicodeEncodeError` by falling back to RFC 2047 encoded-word.
2. The other part will be the receiving portion. So far I've thought of two ways to do this: either upgrade `http.client` to parse headers using the default email policy rather than `email.policy.compat32` (which is described in more depth in issue #105622), or do it as a standalone change.

This does not seem correct. Can you point to the modern standard from https://httpwg.org/specs/ (or even an old standard) that says that _HTTP_ clients should encode headers like this, or that servers should decode them automatically?

HTTP headers have a few different "common" formats, but each HTTP/1.1 header really needs to be treated on a case-by-case basis. The only encoding format I've seen and implemented for Werkzeug's header parsing is for dict-like headers: `key*=UTF-8''%ab, key*=...`. I would be very surprised if `http.server` suddenly started returning pre-decoded UTF-8 data, especially for an old email format instead of what's commonly used in HTTP.

A little AI assisted searching reveals that RFC 2616 supported the use of RFC 2047 encoded words in http headers, but this has been deprecated in favor of simply using utf-8.  RFC 5987 replaced the use of RFC 2047 with a modification of RFC 2231, which is the `key1*=UTF-8''%ab, key2*=...` format.  (I'm an email maintainer, not an http maintainer, so I have no idea if we support that in the http libraries)  It sounds as if many servers do not support decoding RFC 2047.  When we switch to using the 'default' policy in http header parsing we'll get support for parsing it for free, and at first glance it seems harmless to have that support. However, there doesn't seem to be any reason to support using it for encoding.  Supporting utf-8 in the client seems like a modern must, though.  Whether RFC 5987 support in the client is useful or not, I don't know, I suppose it depends on how many servers still don't handle utf-8 natively.  But this is outside of my wheelhouse...