EmailMessage bad encoding for non-ASCII localpart

# Bug report

### Bug description:

The modern email package incorrectly encodes a non-ASCII email address 'local-part' (username) using an RFC 2047 encoded-word, resulting in undeliverable email:

```pycon
>>> from email.message import EmailMessage
>>> msg = EmailMessage()
>>> msg["To"] = "jörg@example.com"
>>> msg.as_bytes()
b'To: =?utf-8?q?j=C3=B6rg?=@example.com\n\n'
```

That use is prohibited by [RFC 2047 section 5](https://datatracker.ietf.org/doc/html/rfc2047#section-5:~:text=An%20%27encoded%2Dword%27%20MUST%20NOT%20appear%20in%20any%20portion%20of%20an%20%27addr%2Dspec%27.):

> An 'encoded-word' MUST NOT appear in any portion of an 'addr-spec'.

This issue is related to #83938, which covers the same problem in an email address domain. In [a comment there](https://github.com/python/cpython/issues/83938#issuecomment-1093859100), @bitdancer says:

> What should be happening here is that an error should be raised when that header is set (or possibly when it is accessed/serialized, but when set would be better I think) saying that there is non-ascii in the domain part.  

Since email.policy.SMTPUTF8 allows non-ASCII addr-specs, I think the error will have to be when the header is serialized with a utf8=False policy (and not when the header is set):

```pycon
# Expected behavior (using `msg` from example above):
>>> msg.as_bytes()
ValueError('Non-ASCII username requires SMTPUTF8 policy')

# This already works correctly:
>>> from email.policy import SMTPUTF8
msg.as_bytes(policy=SMTPUTF8)
b'To: j\xc3\xb6rg@example.com\r\n\r\n'
```


More info:

* The only spec-compliant way to support a non-ASCII localpart seems to be transmitting raw utf-8 using the [RFC 6531](https://datatracker.ietf.org/doc/html/rfc6531#section-3.2:~:text=It%20MAY%20send,2012%0A%0A%0A%20%20%20UTF%2D8) SMTPUTF8 extension.
* I haven't been able to find any mail software that actually supports an RFC 2047 encoded-word localpart. ([Exim has options](https://www.exim.org/exim-html-current/doc/html/spec_html/ch-internationalisation.html) to support non-ASCII localparts using RFC 5891 A-labels—a.k.a. "punycode"—but that's a different encoding.)


### CPython versions tested on:

3.8, 3.9, 3.10, 3.11, 3.12, 3.13, CPython main branch

### Operating systems tested on:

Linux, macOS

Also related: https://github.com/python/cpython/issues/81074#issuecomment-1093823543