I have updated the RFC references from [0] to [2]. I am not able to find out the TLS links mentioned in the https://docs.python.org/3.4/library/ssl.html. I have attached the pull request.

The associated PR has been reviewed and could be merged.


New changeset 63c2c8ac17750ba2be2cfc4e339cae1f4edee54f by Nick Coghlan (Chandan Kumar) in branch 'master':
bpo-19180: Updated references for RFC 1750, RFC 3280 & RFC 4366 (GH-148)
https://github.com/python/cpython/commit/63c2c8ac17750ba2be2cfc4e339cae1f4edee54f



New changeset c422959daca0598fabbefa5de4417ebce3b1da06 by Nick Coghlan in branch '3.6':
[3.6] bpo-19180: Updated references for RFC 1750, RFC 3280 & RFC 4366
https://github.com/python/cpython/commit/c422959daca0598fabbefa5de4417ebce3b1da06


And merged. Thanks Chandan for the update, and everyone else for the comments and triage :)

Needed to regenerate Argument Clinic code.


New changeset 5f31d5cf6efa8c304d352e34f9f2a1ed0074298e by Serhiy Storchaka in branch 'master':
Regenerate Argument Clinic code for bpo-19180. (bpo-2073)
https://github.com/python/cpython/commit/5f31d5cf6efa8c304d352e34f9f2a1ed0074298e



New changeset 911068e250ee2b0847ca78d9ff527e0d6bf94551 by Serhiy Storchaka in branch '3.6':
[3.6] Regenerate Argument Clinic code for bpo-19180. (GH-2073). (bpo-2077)
https://github.com/python/cpython/commit/911068e250ee2b0847ca78d9ff527e0d6bf94551
