Python 3 logging HTTPHandler sends duplicate Host header

BPO | [30904](https://bugs.python.org/issue30904)
--- | :---
Nosy | @vsajip, @lhelwerd
PRs | <li>python/cpython#4465</li><li>python/cpython#4468</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
```python
assignee = None
closed_at = <Date 2017-11-19.22:27:39.865>
created_at = <Date 2017-07-11.14:11:00.817>
labels = ['3.7', 'type-bug', 'library']
title = 'Python 3 logging HTTPHandler sends duplicate Host header'
updated_at = <Date 2017-12-08.04:41:14.237>
user = 'https://github.com/lhelwerd'
```

bugs.python.org fields:
```python
activity = <Date 2017-12-08.04:41:14.237>
actor = 'redstone-cold'
assignee = 'none'
closed = True
closed_date = <Date 2017-11-19.22:27:39.865>
closer = 'vinay.sajip'
components = ['Library (Lib)']
creation = <Date 2017-07-11.14:11:00.817>
creator = 'lhelwerd'
dependencies = []
files = []
hgrepos = []
issue_num = 30904
keywords = ['patch']
message_count = 4.0
messages = ['298161', '306507', '306511', '307835']
nosy_count = 3.0
nosy_names = ['vinay.sajip', 'redstone-cold', 'lhelwerd']
pr_nums = ['4465', '4468']
priority = 'normal'
resolution = 'fixed'
stage = 'resolved'
status = 'closed'
superseder = None
type = 'behavior'
url = 'https://bugs.python.org/issue30904'
versions = ['Python 3.6', 'Python 3.7']
```

</p></details>


The logging HTTPHandler sends two Host headers which confuses certain servers.

Tested versions:
Python 3.6.1
lighttpd/1.4.45

Steps to reproduce (MWE):

1) Set up a lighttpd server which is to act as the logging host (we do not actually implement anything that accepts the input here). Optionally enable the debug settings from https://redmine.lighttpd.net/projects/1/wiki/DebugVariables (specifically, add debug.log-condition-handling = "enable" to /etc/lighttpd/lighttpd.conf) to follow what is happening inside the server.
2) In python3:
import logging
import logging.handlers
handler = logging.handlers.HTTPHandler('localhost', '/')
logging.getLogger().setLevel(logging.INFO)
logging.getLogger().addHandler(handler)
logging.info('hello world')
3) Notice that the access logs in /var/log/lighttpd/access.log show a 400 response for the request (in Python, the response is ignored). If the debugging from 1) is enabled, then /var/log/lighttpd/error.log contains a line "duplicate Host-header -\> 400".

This is not a bug in lighttpd. The server adheres to RFC7320 (sec. 5.4, p. 44): "A server MUST respond with a 400 (Bad Request) status code [...] to any request message that contains more than one Host header field".

A workaround is to put the full URL in the second argument of HTTPRequest:
handler = logging.handlers.HTTPHandler('localhost', 'http://localhost/')
Then lighttpd follows RFC2616 (sec. 5.2, p. 37): "If Request-URI is an absoluteURI, the host is part of the Request-URI. Any Host header field value in the request MUST be ignored."

The origin of this issue is that the http.client.HTTPConnection.putrequest method (called by HTTPHandler.emit) already adds a Host header unless skip_host=True is given. Thus the manual addition of a Host header is duplicate.

Other versions like Python 2.7 might also be affected but I did not test.


New changeset e96ba183c43ad6633b5d014b3dc57433e2802faf by Vinay Sajip in branch 'master':
bpo-30904: Removed duplicated Host: header. (bpo-4465)
https://github.com/python/cpython/commit/e96ba183c43ad6633b5d014b3dc57433e2802faf



New changeset b071a5e838a0e84c4e8a60448fbd40e8a7e5c882 by Vinay Sajip (Miss Islington (bot)) in branch '3.6':
bpo-30904: Removed duplicated Host: header. (GH-4465) (bpo-4468)
https://github.com/python/cpython/commit/b071a5e838a0e84c4e8a60448fbd40e8a7e5c882
