Add the ignorechars parameter in the Base64 decoder

# Feature or enhancement

Earlier standards for Base64 ([RFC 1421](https://datatracker.ietf.org/doc/html/rfc1421), [RFC 1521](https://datatracker.ietf.org/doc/html/rfc1521)) on which the `base64` and `binascii` modules are based, specified that any non-alphabet characters should be ignored, and this is the default behavior of these modules. More modern standard ([RFC 4648](https://datatracker.ietf.org/doc/html/rfc4648)) considers this a vulnerability, and specify that they should be rejected until the upper lever document states otherwise. Thus, `strict_mode`/`validate` parameters were added. But they are "all-or-nothing" -- either _all_ non-alphabet characters are rejected, or other errors are ignored. In some cases we need to ignore only the part of errors -- for example, ignore newlines and whitespaces, but not other invalid characters, or ignore padding errors.

`a85decode()` has parameter `ignorechars` which could also be used to control Base64 decoding.

<!-- gh-linked-prs -->
### Linked PRs
* gh-144009
* gh-144024
* gh-144306
* gh-144324
<!-- /gh-linked-prs -->
