http.server does not accept "absolute-form" as "request-target"

# Bug report

### Bug description:

```sh
python3 -m http.server &
printf "GET http://127.0.0.1:8000/ HTTP/1.1\r\nHost: 127.0.0.1\r\n\r\n" | nc 127.0.0.1 8000
```

Expected: 200 OK
Got: 404 File not found

### Reference:

[RFC 9112] (Section 3.2)
[RFC 7230] (Section 5.3)
[RFC 2616] (Section 5.1.2)



### CPython versions tested on:

3.13

### Operating systems tested on:

Linux

it seems this is expected behavior, since if the request ends with a backslash, a 404 error is returned:
https://github.com/python/cpython/blob/5d8e432d9ffa8285ca67833a54a07c52c58d79f3/Lib/http/server.py#L771-L778

this was discussed here: #78892

you can use next command:
```shell
printf "GET / HTTP/1.1\r\nHost: 127.0.0.1\r\n\r\n" | nc 127.0.0.1 8000
```

> it seems this is expected behavior, since if the request ends with a backslash, a 404 error is returned:

This is not expected. A "request-target" with trailing backslash is for listing the contents for a real directory.

> you can use next command:
> 
> printf "GET / HTTP/1.1\r\nHost: 127.0.0.1\r\n\r\n" | nc 127.0.0.1 8000

Yes, this is correct.

However, the question was found since, according to the RFCs, a forward HTTP proxy may forward the "request-target" to the origin server. This leads the real client to get an error when accessing via an HTTP proxy.



I understand you, and I'd be happy to fix this behavior if core developer agrees.

But I think it's worth noting that "absolute-form" is typically used when making a request through an HTTP proxy, and `http.server` isn't a proxy - it's a basic file-serving web server.

cc @picnixz

> and `http.server` isn't a proxy - it's a basic file-serving web server.

When I found this problem, I was using `http.server` as the origin server behind a proxy server, and I got 404 because the server forwarded the "absolute-form". 