Customize UUIDv7 generation for database partitioning

# Feature or enhancement

### Proposal:

Support for UUIDv7 via `uuid7()` has just landed in `main`: https://github.com/python/cpython/issues/89083

One use-case for UUIDv7 is using it as PK in databases.  Since it is time based, it can also be used as partition key (e.g., to use one partion for each day).  In order to calculate the partition range, you need calculate the "minimal" UUID for a given date (i.e., `2025-04-05 00:00:00` and use all zeros for the random bits => `0196033f-4400-7000-8000-000000000000`).

I'm totally fine with `uuid.uuid7()` not taking any arguments, but it would be cool if the building blocks for generating a UUIDv7 based on custom `unix_ts_ms`, `counter`, and `tail` could be exposed as well.

```python
def min_uuid7(date: datetime.datetime | None) -> UUID:
    # This is just for convenience and could be left out:
    if date is None:
        today = datetime.date.today()
        date = datetime.datetime(
            today.year, today.month, today.day, tzinfo=datetime.UTC
        )

    # Provide a custom timestamp and a custom counter and tail
    timestamp_ms = int(date.timestamp() * 1_000)
    counter, tail = 0, 0

    # The remainder is the same as in uuid7():
    unix_ts_ms = timestamp_ms & 0xFFFF_FFFF_FFFF
    counter_msbs = counter >> 30
    # keep 12 counter's MSBs and clear variant bits
    counter_hi = counter_msbs & 0x0FFF
    # keep 30 counter's LSBs and clear version bits
    counter_lo = counter & 0x3FFF_FFFF
    # ensure that the tail is always a 32-bit integer (by construction,
    # it is already the case, but future interfaces may allow the user
    # to specify the random tail)
    tail &= 0xFFFF_FFFF
    
    int_uuid_7 = unix_ts_ms << 80
    int_uuid_7 |= counter_hi << 64
    int_uuid_7 |= counter_lo << 32
    int_uuid_7 |= tail
    # by construction, the variant and version bits are already cleared
    int_uuid_7 |= _RFC_4122_VERSION_7_FLAGS
    return UUID(int=int_uuid_7)
```
```python
>>> min_uuid7(datetime.datetime(2025, 4, 5, tzinfo=datetime.UTC))
UUID('0196033f-4400-7000-8000-000000000000')
```

Another useful addition might be a helper that recovers the original datetime/timestamp from a UUIDv7. I understand that this is additional code that might be slightly out of context, but such functions - like` uuid7()` - would probably not need to be changed, but are not trivial to implement for "normal users".

These functions could look like this:

```python
def uuid_to_timestamp_ms(uuid: UUID) -> int:
    uuid_flags = uuid.int & _RFC_4122_VERSION_7_FLAGS
    if uuid_flags != _RFC_4122_VERSION_7_FLAGS:
        raise ValueError(f"{uuid} is not a v7 UUID.")
    return int.from_bytes(uuid.bytes[:6])


def uuid_to_datetime(uuid: UUID) -> datetime.datetime:
    ms_since_epoch = uuid_to_timestamp_ms(uuid)
    return datetime.datetime.fromtimestamp(ms_since_epoch / 1_000, tz=datetime.UTC)
```
```python
>>> d = datetime.datetime(2025, 4, 5, tzinfo=datetime.UTC)
>>> u = min_uuid7(d)
>>> assert uuid_to_datetime(u) == d
```

### Has this already been discussed elsewhere?

This is a minor feature, which does not need previous discussion elsewhere

### Links to previous discussion of this feature:

_No response_

<!-- gh-linked-prs -->
### Linked PRs
* gh-131838
* gh-132154
<!-- /gh-linked-prs -->


Using a timestamp would be okay, but the users’ mindset for this function (or at least for my use case ;-)) is "I need to create a new DB partition for today / the next month which is YYYY-MM-DD 0 o'clock.  Gimme the minimal UUIDv7 for that!", so supporting datetimes would be very convenient.

It's possible to convert the datetime object to a timestaml via .timestamp(). One reason for accepting a timestamp is essentially to make the interface more flexible for the standard library and easier to maintain (maintenance cost is something that needs to be taken into account).

I'm leaving for 10 days so I won't be able to reply except on mobile.

I understand your reasoning and something with a timestamp is better than nothing. :-)

We actually had a similar discussion on whether to accept or not datetime objects for gzip in #128584. I see reasons not to but I also see reasons to. I think we need to find an equilibrium between what would be the most useful and what would be the best solution for future compatibility (remember that once we decide on something for the standard library, it becomes kind of "frozen" and requires a deprecation period for any changes we make).

> Using a timestamp would be okay, but the users’ mindset for this function (or at least for my use case ;-)) is "I need to create a new DB partition for today / the next month which is YYYY-MM-DD 0 o'clock. Gimme the minimal UUIDv7 for that!", so supporting datetimes would be very convenient.

It is enough to take the left segment of the required length from the UUID as the partition key. The accuracy does not necessarily have to be exactly the same as 24 hours.

> > Another useful addition might be a helper that recovers the original datetime/timestamp from a UUIDv7
> 
> For this one, I plan to somehow make it work under [#120878](https://github.com/python/cpython/issues/120878). I don't know how to make it work properly though because the notion of `time_lo/time_mid/time_hi` is different for UUIDv1/v6 and UUIDv7 (the first two have 60-bit timestamp, UUIDv7 has 48-bit timestamp).

Nobody really needs version 6. Only version 1 and 7. See the uuid_extract_timestamp() function here for an example: https://github.com/uuid-rs/uuid/issues/767#issuecomment-2646167569 or here: https://github.com/uuid-rs/uuid/issues/767#issuecomment-2646167569

> It is enough to take the left segment of the required length from the UUID as the partition key. The accuracy does not necessarily have to be exactly the same as 24 hours.

You still need to pass in a custom timestamp/datetime to calculate that segment for the given time and in advance.

First of all, I've added the possibility to recover the timestamp for UUIDv7 objects as part of `time`. I'll think of how to make the timestamp customization easier. For instance: what should I do with respect to the last timestamp? I'll read the RFC for that and try to make something before the beta (otherwise we'll only be able to add it in 3.15, very sorry for this)

The RFC does not formally define the timestamp alteration of a UUID:

> Implementations MAY alter the actual timestamp. Some examples include security considerations around providing a real-clock value within a UUID to 1) correct inaccurate clocks, 2) handle leap seconds, or 3) obtain a millisecond value by dividing by 1024 (or some other value) for performance reasons (instead of dividing a number of microseconds by 1000). This specification makes no requirement or guarantee about how close the clock value needs to be to the actual time. If UUIDs do not need to be frequently generated, the UUIDv1 or UUIDv6 timestamp can simply be the system time multiplied by the number of 100-nanosecond intervals per system-time interval.

So, one way to do it, is to actually *entirely* ignore the stored timestamp but not the counter. In other words, if someone specifies an explicit timestamp, then they won't advance the internal global UUIDv7 clock, *but* they will advance the counter. The reason why advancing the timestamp is a bad idea is as follows: let's say I use the *last* possible UUIDv7 timestamp as my custom timestamp. Then subsequent calls to `uuid7()` will be locked in the future which is clearly a bad idea. OTOH, if I overflow the counter, this is not really an issue as it's meant to be randomized at every millisecond. What do you think? 

Here are the uuid7 related function I currently need:

- `uuid7()` generates an RFC compliant UUID7
- `uuid7_for_date(datetime)` generates a UUID7 for a specific date. Tail and Couter are random. Does not modify the global state. This is very useful if you want to migrate old (database) record for which you already have a timestamp and which should be kept in the same order (important, if the UUID7 is used as primary key and/or partitioning key).
- `min_uuid7(datetime)` generates a UUID7 for the specified dayed. Tail and Counter are all 0. Does not modify the global state.  Needed to calculate partition borders or selection boundaries (give me all records >= today and < tomorrow).
- `uuid7_to_timestamp(uuid)`/`uuid7_to_datetime(uuid)` can be used to get the original time. Useful for testing, logigng and presentation (for users).

Again, I could understand if this is nothing that you would put into the stdlib, and I have implemented everything I need, so I am not depended on it.
However, these are the functions that are needed if you want to use UUID7 as PK in a database which is afaik one of its most important use cases and I think, that these functions would be very helpful for many other users, too. :-)

IMO, all those functions, except for `uuid7_for_date` which would take a *timestamp* and not a datetime, should be left out of the standard library. The `uuid` module is really for RFC-compliant. `uuid7_to_timestamp(uuid)/uuid7_to_datetime(uuid)` is more a recipe so it shouldn't also be part of the stdlib. 

I think it would be useful to document these in a uuid7 recipe section, then.

@picnixz Was a conclusion ever reached on this? The ability to create a `uuid7` for a user specified timestamp is something we're also looking for.

I have honestly forgotten about this issue as there was no follow-up from the OP. But the problem in that case for me is how to deal with the counter? should it affect the global timestamp and the global counter? or is it just a throw-away UUID as if it were created in a separate universe? if the answer is the latter, then only a recipe in the docs would be accepted. We cannot pollute the state with custom generations.

Note that the decision must still be RFC compliant. If it is not, it cannot be part of the stdlib and should be a separate 3rd party library


I am currently using two functions for generating uuid7 from dates:

- `uuid7_for_date(date)` does not use global state but uses a random value for the counter and tail part. I use this function mainly for tests to generate UUID7 in a given date/time range.
- `min_uuid7(date)` does not use global state but sets the counter and tail 0 zero. I use this function in production to calculate ranges, e.g. for database partitioning and similar use cases, where I need to group objects by date.

Both functions rely on the same core for generating valid UUID7 (the same that my `uuid7()`  function uses) but generate different timestamps, counters and tails for these functions.

Here is the full code:

```python
"""
Extendions for Pythons :mod:`uuid` module.

UUID v7 is copied from cPython's :mod:`uuid` module which will have :func:`uuid7()`
from version 3.14.  The additional functions are not part of the stdlib (yet?),
see: https://github.com/python/cpython/issues/130843.
"""

import datetime
import os
import time
from typing import Final, NewType, cast
from uuid import UUID


__all__ = [
    "NULL_UUID7",
    "UUID7",
    "min_uuid7",
    "uuid7",
    "uuid7_to_datetime",
    "uuid7_to_timestamp_ms",
]


#: Explicit type for UUID v7 to not accidentally mix it with other versions
#: (which would break sort order).
UUID7 = NewType("UUID7", UUID)


_RFC_4122_VERSION_7_FLAGS = (7 << 76) | (0x8000 << 48)


NULL_UUID7: Final[UUID7] = cast(UUID7, UUID(int=_RFC_4122_VERSION_7_FLAGS))


_last_timestamp_v7 = None
_last_counter_v7 = 0  # 42-bit counter


def _uuid7_get_counter_and_tail() -> tuple[int, int]:
    rand = int.from_bytes(os.urandom(10))
    # 42-bit counter with MSB set to 0
    counter = (rand >> 32) & 0x1FF_FFFF_FFFF
    # 32-bit random data
    tail = rand & 0xFFFF_FFFF
    return counter, tail


def _uuid7(timestamp_ms: int, counter: int, tail: int) -> UUID7:
    unix_ts_ms = timestamp_ms & 0xFFFF_FFFF_FFFF
    counter_msbs = counter >> 30
    # keep 12 counter's MSBs and clear variant bits
    counter_hi = counter_msbs & 0x0FFF
    # keep 30 counter's LSBs and clear version bits
    counter_lo = counter & 0x3FFF_FFFF
    # ensure that the tail is always a 32-bit integer (by construction,
    # it is already the case, but future interfaces may allow the user
    # to specify the random tail)
    tail &= 0xFFFF_FFFF

    int_uuid_7 = unix_ts_ms << 80
    int_uuid_7 |= counter_hi << 64
    int_uuid_7 |= counter_lo << 32
    int_uuid_7 |= tail
    # by construction, the variant and version bits are already cleared
    int_uuid_7 |= _RFC_4122_VERSION_7_FLAGS
    return UUID(int=int_uuid_7)  # type: ignore[return-value]


def uuid7() -> UUID7:
    """
    Generate a UUID from a Unix timestamp in milliseconds and random bits.

    UUIDv7 objects feature monotonicity within a millisecond.
    """
    # --- 48 ---   -- 4 --   --- 12 ---   -- 2 --   --- 30 ---   - 32 -
    # unix_ts_ms | version | counter_hi | variant | counter_lo | random
    #
    # 'counter = counter_hi | counter_lo' is a 42-bit counter constructed
    # with Method 1 of RFC 9562, §6.2, and its MSB is set to 0.
    #
    # 'random' is a 32-bit random value regenerated for every new UUID.
    #
    # If multiple UUIDs are generated within the same millisecond, the LSB
    # of 'counter' is incremented by 1. When overflowing, the timestamp is
    # advanced and the counter is reset to a random 42-bit integer with MSB
    # set to 0.

    global _last_timestamp_v7  # noqa: PLW0603
    global _last_counter_v7  # noqa: PLW0603

    nanoseconds = time.time_ns()
    timestamp_ms = nanoseconds // 1_000_000

    if _last_timestamp_v7 is None or timestamp_ms > _last_timestamp_v7:
        counter, tail = _uuid7_get_counter_and_tail()
    else:
        if timestamp_ms < _last_timestamp_v7:
            timestamp_ms = _last_timestamp_v7 + 1
        # advance the 42-bit counter
        counter = _last_counter_v7 + 1
        if counter > 0x3FF_FFFF_FFFF:  # noqa: PLR2004
            # advance the 48-bit timestamp
            timestamp_ms += 1
            counter, tail = _uuid7_get_counter_and_tail()
        else:
            # 32-bit random data
            tail = int.from_bytes(os.urandom(4))

    res = _uuid7(timestamp_ms, counter, tail)

    # defer global update until all computations are done
    _last_timestamp_v7 = timestamp_ms
    _last_counter_v7 = counter
    return res


def uuid7_for_date(date: datetime.datetime) -> UUID7:
    """
    Return a UUIDv7 for *date*.

    In contrast to :func:`uuid7()`, the UUID doesn't use a counter but all random bits,
    because it would be hard to keep track of all the counters for the dates used
    without leaking memory.
    """
    timestamp_ms = int(date.timestamp() * 1_000)

    rand = int.from_bytes(os.urandom(10))
    # 42-bit counter with MSB set to 0
    counter = (rand >> 32) & 0x1FF_FFFF_FFFF
    # 32-bit random data
    tail = rand & 0xFFFF_FFFF

    return _uuid7(timestamp_ms, counter, tail)


def min_uuid7(date: datetime.datetime) -> UUID7:
    """
    Return a "minimal" UUIDv7 for *date*.

    All random bits will be 0, so the returned UUID will always be smaller when comapred
    with other UUIDs with the same date.
    """
    timestamp_ms = int(date.timestamp() * 1_000)
    return _uuid7(timestamp_ms, counter=0, tail=0)


def uuid7_to_timestamp_ms(uuid: UUID7) -> int:
    """
    Extract the timestamp from v7 *uuid*.

    Raise:
        ValueError: If *uuid* is not a UUIDv7.
    """
    uuid_flags = uuid.int & _RFC_4122_VERSION_7_FLAGS
    if uuid_flags != _RFC_4122_VERSION_7_FLAGS:
        raise ValueError(f"{uuid} is not a v7 UUID.")
    return int.from_bytes(uuid.bytes[:6])


def uuid7_to_datetime(uuid: UUID7) -> datetime.datetime:
    """
    Extract the datetime (in UTC) from v7 *uuid*.

    Raise:
        ValueError: If *uuid* is not a UUIDv7.
    """
    ms_since_epoch = uuid7_to_timestamp_ms(uuid)
    return datetime.datetime.fromtimestamp(ms_since_epoch / 1_000, tz=datetime.UTC)
```

I thought about it a bit more and maybe having the factory functions that given the UUID components give you back a UUID object without a random generation (or maybe the minimal one, no global state) may be reasonable. It could be something like `uuid.create_uuid(...)` or have dedicated classes + class methods of the form `UUID6.new(...)`. We won't be able to make it for Python 3.15 but we can maybe add it to Python 3.16. I wanted to add a C-accelerator module as well but couldn't find enough time for that (and I'm sorry for this as well).



Having the "generators" built-in and the the "user functions" (like `min_uuid7()`) as examples in the docs would work for me. :-)

Note for myself and others: the reason I am reluctant to change the existing functions is because I don't want to deviate from the RFC and don't want to have "one-function-many-responsibilities". On the other hand, the current UUID class is somehow confusing because not all of its properties are actually relevant depending on the UUID version. For instance, it does not make sense to have a `clock_seq_low` for UUIDs other than v3/v1. Or the UUID fields have a distinct meaning depending on the version.

Having dedicated UUID classes could address the issues I raised in https://github.com/python/cpython/issues/120878 because knowing which fields are valid means (1) reading the docs in details (2) knowing the RFC. The problem is different from "just read the docs and you'll be done" because in general, that's the answer when what you want has a clear meaning/expectation. But since all UUIDs share the same class, it is legitimate to think that `.fields` for instance returns the *version-specific* fields of your UUID and not the ones defined by the shape of UUIDv1. One can see how it's plainly weird to write `.time` with if-then-elses rather than a polymorphic approach or just distinct classes.

In case it's useful as a reference, I have some PRs open for adding a similar feature to `python-ulid`: 

- https://github.com/ahawker/ulid/pull/490
- https://github.com/mdomke/python-ulid/pull/48

The operator overloading approach is probably too "magic" to use for stdlib uuid, but the methods to build from custom `ts + randomness` & extract `ts + randomness` are there (and have been useful for me in production already).

`min_uuid7` would fit our use case! If there was a recipe for it we would certainly adopt it.