IPv6Address.exploded does not support interface name (scope id)

BPO | [44012](https://bugs.python.org/issue44012)
--- | :---
Nosy | @ohwgiles
PRs | <li>python/cpython#25824</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
```python
assignee = None
closed_at = None
created_at = <Date 2021-05-02.21:47:15.478>
labels = ['library']
title = 'IPv6Address.exploded does not support interface name (scope id)'
updated_at = <Date 2021-05-02.22:00:23.213>
user = 'https://github.com/ohwgiles'
```

bugs.python.org fields:
```python
activity = <Date 2021-05-02.22:00:23.213>
actor = 'ohwgiles'
assignee = 'none'
closed = False
closed_date = None
closer = None
components = ['Library (Lib)']
creation = <Date 2021-05-02.21:47:15.478>
creator = 'ohwgiles'
dependencies = []
files = []
hgrepos = []
issue_num = 44012
keywords = ['patch']
message_count = 1.0
messages = ['392740']
nosy_count = 1.0
nosy_names = ['ohwgiles']
pr_nums = ['25824']
priority = 'normal'
resolution = None
stage = 'patch review'
status = 'open'
superseder = None
type = None
url = 'https://bugs.python.org/issue44012'
versions = []
```

</p></details>


Is it out of scope for this bug to add this check for additional invalid IPv6 Scope IDs?
```python
    elif not scope_id or '%' in scope_id or '\x00' in scope_id: 
```

https://github.com/python/cpython/blob/99be1cbeb3b58f0daa9108abc4075412d6212169/Lib/ipaddress.py#L1859

Based on RFC4007, section 11.2, paragraph 5
https://datatracker.ietf.org/doc/html/rfc4007.html#section-11.2


Is this issue still available?

I'd like to work on a fix for this. Is this issue still available?