email.feedparser: support RFC 6532 section 3.5

BPO | [44660](https://bugs.python.org/issue44660)
--- | :---
Nosy | @warsaw, @terryjreedy, @bitdancer, @f18a14c09s
PRs | <li>python/cpython#27208</li>

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
```python
assignee = None
closed_at = None
created_at = <Date 2021-07-17.03:52:51.007>
labels = ['type-bug', 'expert-email', '3.11']
title = 'email.feedparser: support RFC 6532 section 3.5'
updated_at = <Date 2022-04-02.02:44:28.408>
user = 'https://github.com/f18a14c09s'
```

bugs.python.org fields:
```python
activity = <Date 2022-04-02.02:44:28.408>
actor = 'f18a14c09s'
assignee = 'none'
closed = False
closed_date = None
closer = None
components = ['email']
creation = <Date 2021-07-17.03:52:51.007>
creator = 'f18a14c09s'
dependencies = []
files = []
hgrepos = []
issue_num = 44660
keywords = ['patch']
message_count = 9.0
messages = ['397693', '398094', '398100', '398101', '398103', '398107', '398108', '398773', '416533']
nosy_count = 6.0
nosy_names = ['barry', 'terry.reedy', 'r.david.murray', 'python-dev', 'virusdetected1337', 'f18a14c09s']
pr_nums = ['27208']
priority = 'normal'
resolution = None
stage = 'patch review'
status = 'open'
superseder = None
type = 'behavior'
url = 'https://bugs.python.org/issue44660'
versions = ['Python 3.11']
```

</p></details>
