Corresponding GNU gettext issue [1] was closed as "Not a Bug".

[1] https://savannah.gnu.org/bugs/?18345

> Corresponding GNU gettext issue [1] was closed as "Not a Bug".

Though I think the rationale given there pointing to RFC3629 section 6 is wrong, since that section explicitly refers to Internet protocols, but PO files are not an Internet protocol.

Anyway, if silently ignoring BOMs is considered a bad idea, then at least there should be a more helpful error message. Because the BOM is invisible, users - who may not even be aware that something like a BOM exist or that their editor saves files with BOM - may be frustrated about the current error message because they don't see any invalid character when they open the PO file in their editor. A more explicit error message like "PO files should not be saved with a byte order mark" might point users in the right direction.

After all, these tools are supposed to be used directly by human beings on the command line. Who said that command line tools must not be user friendly?

@picnixz You can also unassign "61337411-43fc-4a9c-b8d5-4060aede66d0"