http.cookies.SimpleCookie.parse error after [keys] or some JSON data values

BPO | [41945](https://bugs.python.org/issue41945)
--- | :---

<sup>*Note: these values reflect the state of the issue at the time it was migrated and might not reflect the current state.*</sup>

<details><summary>Show more details</summary><p>

GitHub fields:
```python
assignee = None
closed_at = None
created_at = <Date 2020-10-05.15:19:46.936>
labels = ['type-bug', 'library', '3.10']
title = 'http.cookies.SimpleCookie.parse error after [keys] or some JSON data values'
updated_at = <Date 2022-01-04.16:01:46.232>
user = 'https://bugs.python.org/xnovakj'
```

bugs.python.org fields:
```python
activity = <Date 2022-01-04.16:01:46.232>
actor = 'xnovakj'
assignee = 'none'
closed = False
closed_date = None
closer = None
components = ['Library (Lib)']
creation = <Date 2020-10-05.15:19:46.936>
creator = 'xnovakj'
dependencies = []
files = []
hgrepos = []
issue_num = 41945
keywords = []
message_count = 3.0
messages = ['378041', '380403', '409688']
nosy_count = 1.0
nosy_names = ['xnovakj']
pr_nums = []
priority = 'normal'
resolution = None
stage = None
status = 'open'
superseder = None
type = 'behavior'
url = 'https://bugs.python.org/issue41945'
versions = ['Python 3.10']
```

</p></details>


If brackets [] are around cookie name,
next cookie names are not loaded.

```py
try:
  import http.cookies as Cookie
except ImportError:
  import Cookie
c = Cookie.SimpleCookie()
c.load('id=12345; [object Object]=data; something=not loaded')
print(c)
```

Note:
It could cause big problems with session etc.
We found that Chrome/Edge starts to save and send this type of cookies for some (couple) users. The origin of that [object Object]=... cookies are probably some implementation of
https://cookiepedia.co.uk/cookies/euconsent
and errors somewhere in external javascripts or browsers?

Related issues:
https://bugs.python.org/issue41695
https://bugs.python.org/issue27674

The same problem occures in P3.7, P2.7, six.moves.http_cookies etc.

I know RFT says that cookie-name can't use brackets.
But you can set them to browser cookies.

RFC 6265:
```
set-cookie-header = "Set-Cookie:" SP set-cookie-string
 set-cookie-string = cookie-pair *( ";" SP cookie-av )
 cookie-pair       = cookie-name "=" cookie-value
 cookie-name       = token
 token             = <token, defined in [RFC2616], Section 2.2>

RFC 2616:
token          = 1*<any CHAR except CTLs or separators>
       separators     = "(" | ")" | "<" | ">" | "@"
                      | "," | ";" | ":" | "\" | <">
                      | "/" | "[" | "]" | "?" | "="
                      | "{" | "}" | SP | HT
```